<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Loja online</title>
</head>
<body>

    <div class="nav-bar">

        <div class="logo">

            <a href="/products">
                <h1>Loja Online</h1>
            </a>

        </div>

        <div class="nav">


            {{#if session.userid}}

                <div class="nav-logado">
                    <a href="/products/dashbord"><button class="button">Pordutos</button></a>
                    <form action="/products/leave" method="post">
                        <input type="hidden" name="leave">
                        <input type="submit" value="Sair" class="button">
                    
                    
                    </form>
                </div>
                

            {{else}}

                <a href="/products/signup"><button class="button" id="button-signup">Cadastrar-se</button></a>

                <a href="/products/login"><button class="button">Entar</button></a>

            {{/if}}

        </div>


    </div>


    <div class="flash-message">

        {{#if messages.info}}

            <div class="message"><p>{{messages.info}}</p></div>

        {{/if}}


    </div>


    <div class="bodyy">{{{body}}}</div>



    <div class="footer">

        <div class="copy">

            <p>&copy Criado por Jeyson vieira</p>


        </div>


    </div>
    
</body>
</html>