<div class="form-all">

    <form action="/products/add" method="post">

        <div class="login-txt">
            <p>Adicionar Produto</p>
        </div>

        <div class="form-box form-box1">
            <label for="name">Nome do produto:</label>
            <input type="text" name="name" id="" placeholder="Nome do produto" required>
        </div>

        <div class="form-box form-box1">
            <label for="email">Link da imagem</label>
            <input type="text" name="img" id="" placeholder="Link da imagem do produto" required>
        </div>

        <div class="form-box form-box2">
            <label for="password">Preço do produto:</label>
            <input type="text" name="price" id="" placeholder="Preeço do produto" required>
        </div>

        <div class="form-box form-box1">
            <label for="confpassword">Descrição:</label>
            <input type="text" name="description" id="" placeholder="Descrição do produto" required>
        </div>


        <div class="form-submit">
            <input type="submit" value="Adicionar">
        </div>

    </form>

</div>