<h1>Todos os carros:</h1>


<div class="div-home">


    <div class="all-products">

        {{#each AllProducts}}

            <div class="card">

                <div class="img-card">
                    <img src="{{this.img}}" alt="imagem">
                </div>

                <div class="infos">
                    <ul>
                        <li>Carro : {{this.name}}</li>
                        <li>Preço : R${{this.price}}</li>
                        <li>Sobre o carro : {{this.description}}</li>
                    </ul>
                </div>

            </div>

        {{/each}}






    </div>





</div>