
<div class="form-all">

    <form action="/products/login" method="post">

        <div class="login-txt">
            <p>LOGIN</p>
        </div>

        <div class="form-box form-box1">
            <label for="email">Email:</label>
            <input type="email" name="email" id="" placeholder="Digite seu email" required>
        </div>

        <div class="form-box form-box2">
            <label for="password">Senha:</label>
            <input type="text" name="password" id="" placeholder="Digite sua senha" required>
        </div>


        <div class="form-submit">
            <input type="submit" value="Entrar">
        </div>

        <div class="semconta">

            <p>Ainda não possui conta? <a href="/products/signup">Click aqui.</a></p>

        </div>

    </form>

</div>